body {
  padding-top: 70px; /* Fixed navbar. */
}

body > .navbar .navbar-brand {
  background-color: #3445B9;
  color: white;
}

body > .navbar .navbar-brand:hover {
  background-color: #3445B9;
  color: white;
  text-decoration: underline;
}

a, a:hover {
  color: #3445B9;
}

.document > h1 {
  margin-top: 0px;
}

.table {
  width: auto;
}

.footer {
  border-top: 1px solid #555;
  font-size: 0.75em;
  padding: 10px 0px;
}

dd {
  margin-left: 2em;
}

dd + dt {
  margin-top: 10px;
}

.questions {
  background-color: #efefef;
  border-radius: 5px;
  display: none;
  padding: 10px;
  margin-bottom: 1em;
}

.term {
  font-style: italic;
}
