---
title: Boolean functions
layout: note
---

<h1>{{page.title}}</h1>
<p>We use math in computer science for a variety of reasons. For example, it's  pretty common for people to use mathematical notation to describe their ideas. Or, they might use math to show that something is true. In this series of notes, we’ll talk about commonly used mathematical notation, concepts, and techniques.</p>

<h2>Propositions</h2>
<p>A <em>boolean</em> variable (named after <a href="http://en.wikipedia.org/wiki/George_Boole">George Boole</a>) is a variable that is either <code>true</code> or <code>false</code>. A statement that's either <code>true</code> or <code>false</code> is called a <em>proposition</em> (sometimes also called a <em>predicate</em> or a <em>statement</em>). For example, "I was born in December" is either <code>true</code> or <code>false</code>, depending on who you are. "1 + 1 = 2" is a proposition that is always <code>true</code>.</p>

<p>More examples of propositions:</p>
<ul>
  <li>"I'll get heads when I flip a coin."</li>
  <li>"The full moon will be out tonight."</li>
</ul>

<p>Not propositions:</p>
<ul>
  <li>"The number I get when I roll a fair die."</li>
  <li>"The meaning of life."</li>
</ul>

<h2>Operators</h2>
<p>We can combine two propositions together to form a new proposition. We call these <em>operations</em>. The most common operations are <code>not</code>, <code>and</code>, <code>or</code>, <code>xor</code>, and <code>implies</code>.</p>

<h3>Not</h3>
<p><code>Not</code> is very simple. Suppose our proposition is "I was born in December." Let's call this proposition $A$. Then <code>not</code> $A$ is something like "I was not born in December." Something that is <code>not true</code> is <code>false</code>, and something that is <code>not false</code> is <code>true</code>.</p>

<p>The common mathematical notation for <code>not</code> is $\neg A$.</p>

<h3>And</h3>
<p><code>And</code> is also easy to understand. Suppose $A$ is "I was born in December" and $B$ is "I was born on the 5th day of the month." Then $A$ <code>and</code> $B$ (notated $A \land B$) is only <code>true</code> if you were born on December 5.</p>

<p>Sometimes we like to write out what are called truth tables. This truth table lists all possible values of $A$ and $B$ in the first two columns, and then shows the result of $A \land B$ on the right:</p>
{% include truth-table.html id="and" vars="['A', 'B']" exprs="[new TTAnd('A', 'B')]" hiddenExprs="{}" %}

<h3>Or</h3>
<p>When discussing logic, <code>or</code> means something a little bit different than how we normally use it. For example, when you say, "You can have a slice of cake for dessert, or you can have a slice of pie," you don't mean they can have both. But, in logic, $A$ <code>or</code> $B$ (notated $A \lor B$) means either $A$ is <code>true</code>, or $B$ is <code>true</code>, or both are <code>true</code>.</p>

<p>The truth table for <code>or</code> looks like this:</p>
{% include truth-table.html id="or" vars="['A', 'B']" exprs="[new TTOr('A', 'B')]" hiddenExprs="{}" %}

<h3>Xor</h3>
<p>In our previous example, we said "You can have a slice of cake, or a slice of pie," and by that we meant that they couldn't have both. This is what <code>xor</code> (exclusive-or) is. $A$ <code>xor</code> $B$ (notated $A \oplus B$) is only <code>true</code> if $A$ is <code>true</code>, or $B$ is <code>true</code>, but not both. Another way to think about it is that $A$ <code>xor</code> $B$ is only <code>true</code> if $A$ and $B$ have different truth values.</p>

<p>Here's the truth table for <code>xor</code>:</p>
{% include truth-table.html id="xor" vars="['A', 'B']" exprs="[new TTXor('A', 'B')]" hiddenExprs="{}" %}

<h3>Nand and nor</h3>
<p><code>Nand</code> and <code>nor</code> mean <code>not and</code> and <code>not or</code>. They take on the opposite truth values of <code>and</code> and <code>or</code>.</p>

<h3>Implications</h3>
<p>The last operator we need to talk about is <code>implies</code>. It can be difficult, to understand, but it is also very important -- so important, the entire next page is devoted to it.</p>

<h2>Questions</h2>
<ol>
  <li>
    <p>How many possible ways are there to fill out a truth table with two variables? (This is the number of possible two-variable boolean functions.)</p>
  </li>
  <li>
    <p>What is the truth table for <code>nand</code>?</p>
    {% include truth-table.html id="nand" vars="['A', 'B']" exprs="[new TTAnd('A', 'B'), new TTNand('A', 'B')]" hiddenExprs="{1: true}" %}
  </li>
  <li>
    <p>What is the truth table for <code>nor</code>?</p>
    {% include truth-table.html id="nor" vars="['A', 'B']" exprs="[new TTOr('A', 'B'), new TTNor('A', 'B')]" hiddenExprs="{1: true}" %}
  </li>
</ol>
