---
title: Boolean functions
layout: note
---

<h1>{{page.title}}</h1>
<p>Our study of discrete math begins with <em>logic</em>, which is how we reason about things that are either true or false.</p>

<h2>Propositions and predicates</h2>
<p>A true/false variable is called a <em>boolean</em> variable (named after <a href="http://en.wikipedia.org/wiki/George_Boole">George Boole</a>). A statement that's either true or false is called a <em>proposition</em>. For example, "1 + 1 = 2" is a proposition that is true. A <em>predicate</em> is a proposition that depends on some variable or variables. For example, "$x$ was born in December" is a predicate whose value depends on who $x$ is.</p>

<h2>Boolean functions</h2>
<p>A <em>boolean function</em> is a function that takes in one or more boolean variables, and outputs either true or false. The most common functions are <em>not</em>, <em>and</em>, <em>or</em>, <em>xor</em>, and <em>implies</em>.</p>

<h3>Not</h3>
<p><em>Not</em> is very simple. Suppose we have a proposition, "I was born in December." Let's call this proposition $p$. Then <em>not</em> $p$ is something like "I was not born in December." Something that is <em>not</em> true is false, and something that is <em>not</em> false is true.</p>

<p>The common mathematical notation for <em>not</em> is $\neg p$.</p>

<p>When the number of variables is small, we can list out the value of a boolean function for all possible values of the input variables. These are called <em>truth tables</em>. Here is the truth table for <em>not</em>:</p>

{% include truth-table.html id="not" vars="['p']" exprs="[new TTNot('p')]" hiddenExprs="{}" %}

<h3>And</h3>
<p><em>And</em> is also easy to understand. Suppose $p$ is "I was born in December" and $q$ is "I was born on the 5th day of the month." Then $p$ <em>and</em> $q$ (notated $p \land q$) is only true if you were born on December 5.</p>

<p>The truth table is below. Note that <em>and</em> has two input variables.</p>

{% include truth-table.html id="and" vars="['p', 'q']" exprs="[new TTAnd('p', 'q')]" hiddenExprs="{}" %}

<div class="questions">
  <p><strong>Questions:</strong></p>
  <ol>
    <li>
      <p>If a function has only one variable, like <em>not</em>, we need 2 rows in the truth table. If the function has two variables, we need 4 rows. How many rows do we need for the truth table of a function of three variables? Of $n$ variables?</p>
    </li>
    <li>
      <p>Let's say we have a truth table with one variable, so there are two rows. There are four ways to assign each row to either true or false. How many ways are there to assign each row to true/false if there are 2 input variables? $n$ variables?</p>
    </li>
</div>

<h3>Or</h3>
<p>When discussing logic, <em>or</em> means something a little bit different than how we normally use it. For example, when you say, "You can have a slice of cake for dessert, or you can have a slice of pie," you don't mean they can have both. But, in logic, $p$ <em>or</em> $q$ (notated $p \lor q$) means either $p$ is true, or $q$ is true, or both are true.</p>

<p>The truth table for <em>or</em> looks like this:</p>

{% include truth-table.html id="or" vars="['p', 'q']" exprs="[new TTOr('p', 'q')]" hiddenExprs="{}" %}

<h3>Xor</h3>
<p>In our previous example, we said "You can have a slice of cake, or a slice of pie," and by that we meant that they couldn't have both. This is what <em>xor</em> (exclusive-or) is. $p$ <em>xor</em> $q$ (notated $p \oplus q$) is only true if $p$ is true, or $q$ is true, but not both. Another way to think about it is that $p$ <em>xor</em> $q$ is only true if $p$ and $q$ have different truth values.</p>

<p>Here's the truth table for <em>xor</em>:</p>

{% include truth-table.html id="xor" vars="['p', 'q']" exprs="[new TTXor('p', 'q')]" hiddenExprs="{}" %}

<h3>Nand and nor</h3>
<p><em>Nand</em> and <em>nor</em> mean <em>not and</em> and <em>not or</em>. They're just like <em>and</em> and <em>or</em>, but with the opposite truth values.</p>

<div class="questions">
  <p><strong>Questions:</strong></p>
  <ol>
    <li>
      <p>What is the truth table for nand?</p>
      {% include truth-table.html id="nand" vars="['p', 'q']" exprs="[new TTAnd('p', 'q'), new TTNand('p', 'q')]" hiddenExprs="{1: true}" %}
    </li>
    <li>
      <p>What is the truth table for nor?</p>
      {% include truth-table.html id="nor" vars="['p', 'q']" exprs="[new TTOr('p', 'q'), new TTNor('p', 'q')]" hiddenExprs="{1: true}" %}
    </li>
  </ol>
</div>

<h3>Implications</h3>
<p>The last function we need to talk about is <em>implies</em>. It can be difficult, to understand, but it is also very important -- so important that we save it for later, as the topic of the next page of notes.</p>

<h2>Combining functions</h2>
<p>We can combine boolean functions together to form new functions. For example, we can combine <em>not</em> and <em>and</em> by saying $\neg (p \land q)$. Two functions are equal if they have the same output for every possible input -- in other words, if they have the same truth table.</p>

<p>It's important to use parentheses to specify the order of operations, if it wouldn't be clear otherwise. For example, if we just wrote $\neg p \land q$, it's not clear if we mean $\neg (p \land q)$ or $(\neg p) \land q$. It makes a difference! We will show this using our first type of proof: <em>proof by truth table</em>.</p>

<p><strong>Proof:</strong> The truth table for $\neg (p \land q)$ is:</p>
{% include truth-table.html id="no-assoc1" vars="['p', 'q']" exprs="[new TTAnd('p', 'q'), new TTNot(new TTAnd('p', 'q'))]" hiddenExprs="{}" %}

<p>The truth table for $(\neg p) \land q$ is:</p>
{% include truth-table.html id="no-assoc2" vars="['p', 'q']" exprs="[new TTNot('p'), new TTAnd(new TTNot('p'), 'q')]" hiddenExprs="{}" %}

<p>Since the two functions don't have the same truth table, they are not equal. $\square$</p>

<p>The square symbol, $\square$, is often used to indicate the end of a proof.</p>

<h2>Identities</h2>
<p>Just as we have identities in algebra, we have certain identities in boolean algebra. For example, $\neg (p \land q)$ is, in fact, equal to $(\neg p) \lor (\neg q)$. This is one of <em>DeMorgan's laws</em>, the other one being $\neg (p \lor q) = (\neg p) \land (\neg q)$. We'll prove the first one by truth table.</p>

<p><strong>Proof:</strong> The truth table for $\neg (p \land q)$ is:</p>
{% include truth-table.html id="demorgan-and1" vars="['p', 'q']" exprs="[new TTAnd('p', 'q'), new TTNot(new TTAnd('p', 'q'))]" hiddenExprs="{}" %}

<p>The truth table for $(\neg p) \lor (\neg q)$ is:</p>
{% include truth-table.html id="demorgan-and2" vars="['p', 'q']" exprs="[new TTNot('p'), new TTNot('q'), new TTOr(new TTNot('p'), new TTNot('q'))]" hiddenExprs="{}" %}

<p>The two functions have the same truth table, so they are equal. $\square$</p>

<p>We can similarly prove the other law using truth tables.</p>
<div class="questions">
  <p><strong>Questions:</strong></p>
  <ol>
    <li>
      <p>Fill out the truth tables to prove the other one of DeMorgan's laws.</p>
      {% include truth-table.html id="demorgan-or1" vars="['p', 'q']" exprs="[new TTOr('p', 'q'), new TTNot(new TTOr('p', 'q'))]" hiddenExprs="{0: true, 1: true}" %}
      {% include truth-table.html id="demorgan-or2" vars="['p', 'q']" exprs="[new TTNot('p'), new TTNot('q'), new TTAnd(new TTNot('p'), new TTNot('q'))]" hiddenExprs="{0: true, 1: true, 2: true}" %}
    </li>
  </ol>
</div>

<p>Using a truth table is a good way to prove DeMorgan's laws, but it doesn't offer much insight into why it's true. It can be fun to think through these things using real world scenarios.</p>

<p>Let's say we're throwing a party, and we invited our friends, Penelope and Quentin, who recently broke up with each other. Let $p$ be "Penelope attends the party" and $q$ be "Quentin attends the party." It would be be awkward if they both showed up. So, the party won't be awkward as long as $\neg (p \land q)$. Another way to think about it is that it's okay as long as Penelope doesn't show up, or Quentin doesn't show up, or neither shows up. In other words, $(\neg p) \lor (\neg q)$.</p>

<h3>Common identities</h3>
<p>A list of common identities is below. These can all be proven using truth tables.</p>
<dl>
  <dt>Associativity</dt>
  <dd>$(p \land q) \land r = p \land (q \land r) \\
    (p \lor q) \lor r = p \lor (q \lor r)$</dd>
  <dt>Distributivity</dt>
  <dd>$p \land (q \lor r) = (p \land q) \lor (p \land q) \\
    p \lor (q \land r) = (p \lor q) \land (p \lor q)$</dd>
  <dt>Idempotency</dt>
  <dd>$p \land p = p \\
    p \lor p = p$</dd>
  <dt>Double negation</dt>
  <dd>$\neg (\neg p) = p$</dd>
  <dt>DeMorgan's laws</dt>
  <dd>$\neg (p \land q) = (\neg p) \lor (\neg q) \\
    \neg (p \lor q) = (\neg p) \land (\neg q)$</dd>
  <dt>Commutativity</dt>
  <dd>$p \land q = q \land p \\
    p \lor q = q \lor p$</dd>
  <dt>Absorption</dt>
  <dd>$p \lor (p \land q) = p \\
    p \land (p \lor q) = p$</dd>
</dl>

<h3>Manipulating equations</h3>
<p>We can use these identities to manipulate boolean equations algebraically. As an example, let's prove that $(p \land q) \lor p = p \land (q \lor p)$.</p>

<p><strong>Proof:</strong></p>
<table class="table">
  <tr><th>Step</th><th>Reason</th></tr>
  <tr><td>$(p \land q) \lor p = p \lor (p \land q)$</td><td>Commutativity</td></tr>
  <tr><td>$p \lor (p \land q) = (p \lor p) \land (p \lor q)$</td><td>Distributivity</td></tr>
  <tr><td>$(p \lor p) \land (p \lor q) = p \land (p \lor q)$</td><td>Idempotency</td></tr>
  <tr><td>$p \land (p \lor q) = p \land (q \lor p)$</td><td>Commutativity $\square$</td></tr>
</table>

<p>You can also prove that the two functions are true by showing that $(p \land q) \lor p = p$ and $p \land (q \lor p) = p$ through commutativity and absorption.</p>

<h2>Quantifiers</h2>
<p>Remember that predicates are true or false statements that take on some variable or variables, like $p(x)$ = "$x$ was born in December." There are two quantifiers we can add to this: <em>for all</em>, and <em>there exists</em>.</p>

<p><em>For all</em> is notated with this symbol: $\forall$. For example, if $p(x)$ = "$x$ was born in December," then $\forall x, p(x)$ means "for all $x$, $x$ was born in December." Note that not everyone is born in December, so that statement is most likely false.</p>

<p><em>There exists</em> is notated with this symbol: $\exists$. We usually write statements like "$\exists x$ such that $p(x)$." Often "such that" is abbreviated as s.t., or is just replaced entirely with a dot, like $\exists x . p(x)$.

<h3>Negating quantifiers</h3>
<p>The opposite of $\forall x, p(x)$ is $\exists x . \neg p(x)$. For example, say $p(x)$ = "$x$ can swim." Then the opposite of "for all $x$, $x$ can swim" is "there exists some $x$ such that $x$ can't swim."</p>

<p>Similarly, the opposite of $\exists x . p(x)$ is $\forall x, \neg p(x)$. For example, let $p(x)$ = "$x$ has three eyes." Then the opposite of "there exists an $x$ such that $x$ has three eyes" is "for all $x$, $x$ does not have three eyes."</p>
