---
title: Proofs using truth tables
layout: note
---

<h1>{{page.title}}</h1>
<p>When two boolean expressions have the same truth table, they're <em>equivalent</em>. In this section, we'll prove certain facts about boolean logic that will be helpful.</p>

<h2>If and only if</h2>
<p>If $A \to B$ and $B \to A$, we say $A$ "if and only if" $B$ (denoted $A \leftrightarrow B$).</p>
{% include truth-table.html id="iff" vars="['A', 'B']" exprs="[new TTImplies('A', 'B'), new TTImplies('B', 'A'), new TTAnd(new TTImplies('A', 'B'), new TTImplies('B', 'A')), new TTIff('A', 'B')]" hiddenExprs="{}" %}
<p>As we can see from the truth table, what this really means is that if $A \leftrightarrow B$ is true, then $A$ and $B$ are the same, and vice versa.</p>

<h2>De Morgan's laws</h2>
<p>One practical identity in boolean logic tells us how to negate an expression. The laws are:</p>
$$
\begin{align}
  \neg (A \land B) &= (\neg A \lor \neg B) \\
  \neg (A \lor B) &= (\neg A \land \neg B)
\end{align}
$$

<p>To show that the first equation is correct, we'll fill out the truth table for $\neg (A \land B)$, and the truth table for $(\neg A \lor \neg B)$. The two expressions have the same truth values for all values of $A$ and $B$.</p>

{% include truth-table.html id="demorgan-and-1" vars="['A', 'B']" exprs="[new TTAnd('A', 'B'), new TTNot(new TTAnd('A', 'B'))]" hiddenExprs="{}" %}
{% include truth-table.html id="demorgan-and-2" vars="['A', 'B']" exprs="[new TTNot('A'), new TTNot('B'), new TTOr(new TTNot('A'), new TTNot('B'))]" hiddenExprs="{}" %}

<p>The proof of the second equation is an exercise below.</p>

<h2>Implications in terms of <code>not</code> and <code>or</code></h2>
<p>One of the exercises in our notes on implications was to show that $A \to B$ is equivalent to $\neg A \lor B$. The proof of this is below:</p>
{% include truth-table.html id="imp-formula-1" vars="['A', 'B']" exprs="[new TTImplies('A', 'B')]" hiddenExprs="{}" %}
{% include truth-table.html id="imp-formula-2" vars="['A', 'B']" exprs="[new TTOr(new TTNot('A'), 'B')]" hiddenExprs="{}" %}

<h2>Inverse, converse, and contrapositive revisited</h2>
<p>In the notes on implications, we saw that the inverse and converse of an implication are not necessarily true, but the contrapositive is. As a reminder:</p>
<ul>
  <li>Inverse: $\neg A \to \neg B$</li>
  <li>Converse: $B \to A$</li>
  <li>Contrapositive: $\neg B \to \neg A$</li>
</ul>
<p>Notice that the truth tables for the inverse and converse are not the same as for an implication. However, the inverse and converse are equivalent to each other:</p>
{% include truth-table.html id="inv-conv" vars="['A', 'B']" exprs="[new TTNot('A'), new TTNot('B'), new TTImplies('A', 'B'), new TTImplies(new TTNot('A'), new TTNot('B')), new TTImplies('B', 'A')]" hiddenExprs="{}" %}

<p>However, the contrapositive of an implication is equivalent:</p>
{% include truth-table.html id="contra" vars="['A', 'B']" exprs="[new TTNot('A'), new TTNot('B'), new TTImplies('A', 'B'), new TTImplies(new TTNot('B'), new TTNot('A'))]" hiddenExprs="{}" %}

<h2>Questions</h2>
<ol>
  <li>
    <p>Prove the other one of DeMorgan's laws by filling out the truth tables for each expression: $\neg (A \lor B) = (\neg A \land \neg B)$</p>
    {% include truth-table.html id="demorgan-or-1" vars="['A', 'B']" exprs="[new TTOr('A', 'B'), new TTNot(new TTOr('A', 'B'))]" hiddenExprs="{0: true, 1: true}" %}
    {% include truth-table.html id="demorgan-or-2" vars="['A', 'B']" exprs="[new TTNot('A'), new TTNot('B'), new TTAnd(new TTNot('A'), new TTNot('B'))]" hiddenExprs="{0: true, 1: true, 2: true}" %}
  </li>
  <li>
    <p>Prove that $A \land (B \lor C)$ is equivalent to $(A \land B) \lor (A \land C)$.</p>
    {% include truth-table.html id="distributive-1" vars="['A', 'B', 'C']" exprs="[new TTOr('B', 'C'), new TTAnd('A', new TTOr('B', 'C'))]" hiddenExprs="{0: true, 1: true}" %}
    {% include truth-table.html id="distributive-2" vars="['A', 'B', 'C']" exprs="[new TTAnd('A', 'B'), new TTAnd('A', 'C'), new TTOr(new TTAnd('A', 'B'), new TTAnd('A', 'C'))]" hiddenExprs="{0: true, 1: true, 2: true}" %}
    <p>Does this seem familiar? Something similar is true in basic algebra: $A \cdot (B + C) = A \cdot B + A \cdot C$. This is known as the <a href="http://en.wikipedia.org/wiki/Distributive_property#Aropositional_logic"><em>distributive property</em></a> (see link for a full list of rules). It turns out, boolean logic and arithmetic share the same underlying mathematical structure. You can learn more by reading the Wikipedia article on <a href="http://en.wikipedia.org/wiki/Boolean_algebra_(structure)">boolean algebra</a>, or taking a class in abstract algebra.</p>
  </li>
</ol>
