---
title: Proofs using truth tables
layout: note
---

<h1>{{page.title}}</h1>
<p>When two boolean expressions have the same truth table, they're <em>equivalent</em>. In this section, we'll prove certain facts about boolean logic that will be helpful.</p>

<h2>De Morgan's laws</h2>
{% include truth-table.html id="demorgan-and-1" vars="['A', 'B']" exprs="[new TTAnd('A', 'B'), new TTNot(new TTAnd('A', 'B'))]" %}
{% include truth-table.html id="demorgan-and-2" vars="['A', 'B']" exprs="[new TTNot('A'), new TTNot('B'), new TTOr(new TTNot('A'), new TTNot('B'))]" %}
<h2>Implications in terms of <code>not</code> and <code>or</code></h2>
<h2>Inverse, converse, and contrapositive revisited</h2>
<h2>If and only if</h2>
<h2>Questions</h2>
<ol>
  <li><p>Prove that $P \land (Q \lor R)$ is equivalent to $(P \land Q) \lor (P \land R)$.</p>
  <p>Does this seem familiar? Something similar is true in basic algebra: $P \cdot (Q + R) = P \cdot Q + P \cdot R$. This is known as the <a href="http://en.wikipedia.org/wiki/Distributive_property#Propositional_logic"><em>distributive property</em></a> (see link for a full list of rules). It turns out, boolean logic and arithmetic share the same underlying mathematical structure. You can learn more by reading the Wikipedia article on <a href="http://en.wikipedia.org/wiki/Boolean_algebra_(structure)">boolean algebra</a>, or taking a class in abstract algebra.</p>
</ol>
