<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/cse101.css" rel="stylesheet" />
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <script src="/js/ga.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] },
        TeX: {
          Macros: {
            argmax: "{\\arg\\!\\max}"
          }
        }
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <a class="brand" href="/">CSE 101</a>
        </div>
      </div>
      <div class="document">
        {{content}}
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
